* {
  box-sizing: border-box;
}

html, body {
	margin: 0px;
}

/* keeping this note in case needed in future
width: calc(var(--vw, 1vw) * 300); */ /* see https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
#root {
  width: 300vw;
  height: 300vh;
}

.full-grid-portrait {
  background-size: 300vw 300vh;
  background-image: url("/img/curatedBg-min.png");
}

.full-grid-landscape {
  background-size: 300vw 300vh;
  background-image: url("/img/curatedBg-landscape-min.png");
}

.cell-1x1 {
	width: 100vw;
	/*height: 100vh;*/
  vertical-align: middle;
  text-align: center;
}

.cell-3x1 {
	width: 300vw;
	/*height: 100vh;*/
}

[class*="cell-"] {
	display: inline-block;
	scroll-behavior: smooth; /* not supported in iOS though */
	white-space: nowrap;
}

.sub-page-top-nav {
	vertical-align: top;
	text-align: center;
}

button {
	height: 5vmin;
}
