p {
  max-width: 98vw;
  max-height: 33vh;
  font-family: verdana;
  font-size: 3vmin;
  text-align: left;
  margin-block-start: 1vh;
  margin-block-end: 1vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}

.nav-top, .nav-bottom {
  height: 4vh;
}

.nav-top {
  margin: 1.25vh 1vw  0 1vw;
}

.nav-bottom {
  margin: 0 1vw  1.25vh 1vw;
}

.nav-top img, .nav-bottom img {
  height: 100%;
  max-height: 4vh;
  margin: 0;
}

.page-middle {
  position: relative;
  width: 100%;
}

.nav-left {
  margin: 0 0 0 1vw;
}

.nav-right {
  margin: 0 1vw 0 0;
}

.nav-left, .nav-right {
  position: relative;
  width: 5vw;
}

.nav-left img, .nav-right img {
  max-width: 5vw;
  max-height: 18vh;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-5vh);
  transform: translateY(-5vh);
}

.page-content {
  width: 88vw;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.align-center {
  margin: 0 auto;
}

.clear {
  clear: both;
}

.text-block-med {
  max-height: 33vh;
}

.curated-logo {
   display: inline-block;
   background-color: rgba(255, 255, 255, 0.5);
}

.curated-logo img {
  max-width: 84vw;
  max-height: 30vh;
  margin: 2vw;
}
