* {
  box-sizing: border-box;
}

html, body {
	margin: 0px;
}

#root {
  width: 300vw;
  height: 300vh;
}

.full-grid-portrait {
  background-size: 300vmin;
  background-image: url("img/curatedBg-min.png");
}

.full-grid-landscape {
  background-size: 300vmax;
  background-image: url("img/curatedBg-landscape-min.png");
}

.cell-1x1 {
	width: 100vw;
	height: 100vh;
  padding: 5px;
  display: table;
}

.cell-3x1 {
	width: 300vw;
	height: 100vh;
}

.cell-1x3 {
	width: 100vw;
	height: 300vh;
}

.cell-3x3 {
	width: 300vw;
	height: 300vh;
}

[class*="cell-"] {
	display: inline-block;
  /*padding: 5px;*/
	border-style: dashed solid;
	border-width: 1px;
  border-color: #ffc5ca;
	scroll-behavior: smooth; /* not supported in iOS though */
	white-space: nowrap;
}

.sub-page-top-nav {
	vertical-align: top;
	text-align: center;
}

.color-0-0, .color-0-2, .color-1-1, .color-2-0, .color-2-2 {
	/*background-color: #C9CF65;*/
}

.color-0-1, .color-1-0, .color-1-2, .color-2-1 {
	/*background-color: #C27DFF;*/
}

button {
	/*width: 5vmax;*/
	height: 5vmin;
}
